*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(7, 39, 49),rgba(156, 59, 59, 0.7));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar{
    color: blueviolet;
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my-car {
      width: 120px;
      background-image: url(img/car.jpg);
      background-size: 50%;
      cursor: pointer;
      
}
.navbar ul li{
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff ;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #008955 ;
    position: absolute;
    left: 0;
    bottom: -9px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    text-align: center;
    color: #fff;
}
.content{
    font-size: 25px;
    margin-top: 40px;
}
.content p{
    margin: 10px auto;
    font-weight: 50;
    line-height: 40px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #008955;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #008955;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
/* .shopping{
       color: #004040;
       background-color: rgba(22, 245, 70, 0.25);
       background-image: -o-repeating-linear-gradient(rgb(7, 39, 49),rgba(156, 59, 59, 0.7));
       
    } */
